@import "../theme.css";
@import "../common/scroll.css";

/* ========================================================== */
/* == POPUP SHELL =========================================== */
/* ========================================================== */

.popup-shell-root {
    -fx-background-color: -app-modal-overlay;
    -fx-alignment: center;
}

.popup-shell-dialog {
    -fx-background-color: -app-background;
    -fx-background-radius: 1.125em;

    -fx-border-color: -app-input-border;
    -fx-border-width: 1px;
    -fx-border-radius: 1.125em;

    -fx-padding: 2em;
}

/* ========================================================== */
/* == NARROW / SHORT ======================================== */
/* ========================================================== */

.popup-shell-root:narrow,
.popup-shell-root:short {
    -fx-background-color: -app-background;
    -fx-padding: 0;
}

.popup-shell-root:narrow .popup-shell-dialog,
.popup-shell-root:short .popup-shell-dialog {
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-border-width: 0;

    -fx-padding: 1.65em;
}

/* ========================================================== */
/* == SCROLLING ============================================= */
/* ========================================================== */

.popup-shell-root:scrolling .popup-shell-content {
    -fx-padding: 0 0.5em 0 0;
}