# Maven
target/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# SQLite runtime database
*.db
*.db-journal
*.db-shm
*.db-wal

# Kotlin
.kotlin/

# Eclipse
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

# VS Code
.vscode/

# Operating system files
.DS_Store
Thumbs.db