@import "../common/base-view.css";
@import "../common/scroll.css";
@import "auth-view.css";

.glass-card {
    -fx-min-width: 0;
    -fx-pref-width: 31.5em;
    -fx-max-width: 31.5em;
    -fx-padding: 0 0.8em;
}